@import '__vars'

.CardInfo__container
  display: flex
  flex-direction: column
  width: 90%
  height: fit-content
.CardInfo__container:hover
  display: flex
  flex-direction: column
  width: 90%
  height: fit-content
  transform: scale(1.1)
  transition: ease all .5s
.CardItem__image--container
  position: relative
  width: 100%
  height: 15rem
  border-radius: 10px
  overflow: hidden
  object-fit: cover
.CardItem__image--container__light
  position: relative
  width: 100%
  height: 15rem
  border-radius: 10px
  overflow: hidden
  object-fit: cover
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px
.CardInfo__info--container
  display: flex
  flex-direction: column
  align-items: center
  margin-top: 1rem
  gap: .9rem
  width: 100%
  height: fit-content
.CardInfo__title
  font-size: $sub-title-size
  font-weight: 400
.CardInfo__description
  font-size: $text-size
  font-weight: 300
  text-align: justify
.CardInfo__container--link
  text-decoration: none
  color: $White
.CardInfo__container--link__light
  text-decoration: none
  color: $Elegant-black
@media (min-width: 1024px)
  .CardInfo__container
    width: 100%
  .CardInfo__title
    text-align: center
  .CardInfo__description
    text-align: center