@import '__vars'

.ContactMe__container
  display: flex
  flex-direction: column
  margin-top: 1rem 
  width: 100vw
  height: fit-content
.Contact__form--container
  width: 95%
  margin: auto
.contact__form
  display: flex
  flex-direction: column
  gap: 1rem
  width: 100%
  margin-bottom: 1rem 
.inputTextArea
  align-self: center
  background: none
  width: 95%
  height: 10rem
  padding: .5rem
  border-radius: 10px
  border: 1px solid $Off-White
  font-size: $middle-text-size
  color: $White
  outline: none