@import '__vars'

.MenuButton
  width: 3.5rem
  height: 3.5rem
  border: 1px solid $White
  border-radius: 5px
  cursor: pointer
  outline: none
  background: none
  color: $White
.MenuButtonDarkmode
  width: 3.5rem
  height: 3.5rem
  border: none
  border-radius: 5px
  cursor: pointer
  outline: none
  background: #f8d187
  color: $White