@import '__vars'

.Socials__container
  display: flex
  flex-direction: column
  width: 90%
  margin: auto
.Socials__infoContainer
  display: flex
  flex-direction: row
  gap: .5rem
  width: 100%
.Socials__text
  font-size: $text-size
  color: $Backg-blue
  font-weight: 600 
.Socials__link
  text-decoration: none